#containerCards {
	flex-direction: column;
	justify-content: center;
}

.select-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	padding: 10px;
	max-width: 30%;
	background-color: white;
}

.select-container h3 {
	margin-bottom: 10px;
}

.player-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
}

.player-list li {
	display: flex;
	align-items: center;
	border: solid 1px;
	border-radius: 50px;
	padding: 5px 5px;
}

.player-list li.selected {
	background-color: cyan;
}

.player-list li:not(.selected):hover {
	background-color: pink;
	cursor: pointer;
}

.player-list img {
	float: left;
	border-radius: 50px;
	height: 30px;
	width: 30px;
	background-size: cover;
}

.player-list p {
	padding: 0 5px;
	user-select: none;
}

div.card {
	height: 81px;
	width: 55px;
	background-size: contain;
}