.profile-card {
	display: flex;
	align-items: center;
	height: 250px;
	width: 500px;
	border-radius: 50px;
  background: center/cover, rgba(0,0,0,.6);
  background-blend-mode: multiply;
}

.profile-card>div {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.profile-card h1 {
  color: white;
}

.profile-avatar {
	height: 150px;
	width: 150px;
	margin-left: 1%;
	border-radius: 50%;
	background-size: cover;
}