.left-login {
  z-index: 105;
  position: absolute;
  height: 100%;
  width: 50%;
  background-position: 100% 0%;
  background-image: url('https://i.imgur.com/2v46tZ0.jpg');
  background-size: cover;
  transition: all 1s;
}

.right-login {
  z-index: 105;
  position: absolute;
  transform: translateX(100%);
  display: grid;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #2d2d2d;
  transition: all 1s;
}

.right-login * {
  justify-self: center;
}

.right-login > span { /* server image */
  height: 200px;
  width: 200px;
  margin-top: 15%;
  margin-bottom: 10%;
  border-radius: 25%;
  background-image: url('https://cdn.discordapp.com/icons/773660297696772096/4429a4cab28533327e3134b415de2616.webp');
  background-size: cover;
}

.login-button {
  border: none;
  border-radius: 4px;
  height: 35px;
  width: 200px;
  background-color: #7785cc;
}

.login-button * {
  color: white;
}

.login-button span {
  scale: 150%;
  margin-right: 15px;
}

.login-button b {
  font-weight: 800;
}

.login-body {
  display: grid;
}

.right-login > p {
  text-shadow: 0 0 20px cyan;
  color: cyan;
  font-size: 150px;
  animation: breathe 2s linear infinite;
}

@keyframes breathe {
  0% {
    text-shadow: 0 0 20px cyan;
  }

  50% {
    text-shadow: 0 0 10px cyan;
  }

  100% {
    text-shadow: 0 0 20px cyan;
  }
}