#containerPalia {
  background: url("https://d1lss44hh2trtw.cloudfront.net/assets/article/2021/06/02/palia-preview_feature.jpeg") top/cover rgba(0,0,0,.7);
	background-blend-mode: multiply;
}

.gift-row {
	display: flex;
	align-items: center;
}

.villager-icon {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-size: cover;
}

.weekly-gift-label {
	margin: 0 10px;
	color: cyan;
}