* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 0;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* pages */
.page-container {
	z-index: 90;
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: dimgray;
	transition: transform .5s;
}
/* pages end */